#header {
    background-color: antiquewhite;
    display: grid;
    gap: 2rem;
    align-items: center;
    height: 6rem;
}

    #header .logo {
        font-size: 4rem;
        grid-area: 1/1;
        font-weight: 900;
        letter-spacing: -.7rem;
        justify-self: start
    }

.lang-select {
    margin-left: auto;
    grid-area: 1/1;
}

.lang-select ul {
        display: flex;
        gap: 1rem;
    }

.lang-select .active{
        font-weight : 500;
    }

#nav {
    grid-area: 1/1;
    justify-self: center;
    display: flex;
    gap: 1rem;
    align-items: center;
}

#nav a:hover, #nav a[aria-current="page"]{
        text-decoration: underline;;
    }